* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eed0b3;
}



header {
    background: url("https://t4.ftcdn.net/jpg/02/55/17/43/360_F_255174366_ojDuATz84e5h7lIlxh2moUJa9Kpd5wKk.jpg") no-repeat center center fixed;
    /* <!-- Image pulled from https://www.google.com/search?sca_esv=568551326&rlz=1C1VDKB_enUS1074US1074&sxsrf=AM9HkKlWnQFDUShvM2qgWyNnijn2opHy7Q:1695755009885&q=forest+image&tbm=isch&source=lnms&sa=X&ved=2ahUKEwj60_XX-8iBAxXNlGoFHXhQC0oQ0pQJegQICxAB&biw=1810&bih=941&dpr=1#imgrc=tA_mYXzeCzAkgM --> */
    background-size:cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: #dedede;
}


header h1 {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 48px;
}

header h2 {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 35px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}


nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    flex-wrap: wrap;
    font-size: 22px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}



.classcards {
   display: grid;
   grid-template-columns: repeat(auto-fill);
   grid-gap: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   

}

.card {
    display: flex;
    

}

.classcards:hover {

}

.Projects {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
